body {
  background-color: #202020;
}

h1 {
  padding-top: 150px;
  font-family: 'Orbitron', sans-serif;
  color: white;
  font-style: bold;
  font-size: 70px;
  width: 100%;
  text-align: center;
  letter-spacing: 0.1rem;
  text-shadow: 5px 5px 5px black;
}

h1.highscore-title {
  padding-top: 50px;
  font-family: 'Orbitron', sans-serif;
  color: white;
  font-style: bold;
  font-size: 65px;
  width: 100%;
  text-align: center;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px black;
}
.main-wrapper {
  background-image: url('../image/dark.jpeg');
  width: 100%;
  max-width: 640px;
  height: 640px;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 5px 5px 5px;
}

.game-btn {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.game-btn:hover {
  background-color: #909090;
  color: white;
}

.game-btn {
  display: block;
  width: 50%;
  background: none;
  border: none;
  font-size: 1em;
  color: white;
  padding: 0.8em 0;
  border-radius: 3em;
  margin: 0 auto 0.9em;
  font-weight: 300;
  border: 2px solid white;
  text-transform: uppercase;
  cursor: pointer;
}

.button-container {
  padding-top: 100px;
  margin-left: 300px;

  transform: rotateZ(45deg);
  width: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.box1 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 2;
  border: transparent;
  background-color: #F9C22E;
  height: 100px;
  width: 100px;
  margin: 3px;
  box-shadow: 5px 5px 5px;
}
.box2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  border: transparent;
  background-color: #F4442E;
  height: 100px;
  width: 100px;
  margin: 3px;
  box-shadow: 5px 5px 5px;
}
.box3 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  border: transparent;
  background-color: #53B3CB;
  height: 100px;
  width: 100px;
  margin: 3px;
  box-shadow: 5px 5px 5px;
}
.box4 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  border: transparent;
  background-color: #5C3B6D;
  height: 100px;
  width: 100px;
  margin: 3px;
  box-shadow: 5px 5px 5px;
}

#game-detail {
  display: block;
  padding-top: 20px
}

h2 {
  height: 100%;
  color: white;
  display: inline-block;
  text-align: center;
  float: left;
  width: calc(100%/3);
  position: relative;
  font-family: 'Orbitron', sans-serif;
}
/*
h2#current-level {
  height: 100%;
  color: white;
  display: inline-block;
  text-align: center;
  float: right;
  width: calc(100%/3);
  position: relative;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 0.1rem;
} */

.box.light {
animation-name: box-transition;
animation-duration: 0.8s;}

/* #counter {
   background-color: black;
   color: white;
   display: table;
   padding: 10px;
 } */



/* animation */
@keyframes box-transition {
   from {background-color: #E5E5E5;}
   to {background-color: black;}
}

div.highscore-box {
  width: 400px;
  height: 270px;
  display: grid;
  margin: auto;
  margin-bottom: 40px;
  overflow: scroll;
}

.highscore-list {
  font-family: 'Orbitron', sans-serif;
  color: white;
  font-size: 20px;
  width: 85%;
  letter-spacing: 0.2rem;
  list-style: none;
  line-height: 2rem;
}

.timesup-page {
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-size: 20px;
  color: white;
}
